:root {
  --font-default: 'DM Sans', Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Landing Page */
html {
  font-size: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url('background.png');
  font-family: var(--font-default);
  font-size: 1.125rem;
  max-width: 81.25rem;
  margin: 0 auto;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

img {
  padding-right: 1rem;
}

.topnav {
  overflow: hidden;
  margin: 3.5%;
}
.header-logo {
  float: left;
}
.main-navbar {
  float: right;
}
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 0.75rem 0.75rem;
  margin: 0.3125rem;
  text-decoration: none;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
}

.topnav a:hover {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 0.9375rem;
}

.topnav a.active {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 0.9375rem;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1115px) {
  .main-navbar {
    float: none;
    margin-top: 4.375rem;
  }
  .topnav {
    position: relative;
  }
  .topnav a {
    display: none;
  }
  .topnav a.icon,
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: -0.125rem;
    display: block;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 450px) {
  .topnav a.icon,
  .topnav.responsive a.icon {
    left: 0;
    float: right;
    margin-top: 4rem;
    text-align: center;
    width: 98%;
  }
  .main-navbar {
    margin-top: 8.125rem;
  }
  .hero-section {
    margin-top: 1.6875rem;
  }
}

main {
  font-size: 130%;
  font-weight: bolder;
  color: black;
  padding-top: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 1px 1.25rem 0.9375rem;
  border-radius: 2rem;
  text-align: justify;
}

.modal-btn {
  font-size: 145%;
  background: #fe142f;
  display: flex;
  margin: auto;
  padding: 2rem;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.modal-btn:hover {
  background: #3876ac;
}

.footer {
  margin: 1.25rem;
  padding: 0.625rem;
  font-family: var(--font-slab);
}

/* Modal form */

.button {
  background: #fe142f;
  margin-top: 0.5em;
  padding: 1em;
  color: #fff;
  border-radius: 0.9375rem;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  background: #3876ac;
}

.smFont {
  font-size: 1rem;
}

.bground {
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.bground.active {
  visibility: visible;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

.content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 31.25rem;
  max-height: 95vh;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 0.625rem;
  overflow: hidden;
  position: fixed;
  color: #fff;
  padding-top: 0.625rem;
  overflow-y: auto;
}

.modal-body {
  padding: 0.9375rem 8%;
  margin: 0.9375rem auto;
}

.modal-body .valid-message {
  display: none;
  position: relative;
  height: 804.703px;
}

.modal-body .valid-message__description {
  position: absolute;
  font-size: 2rem;
  width: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.modal-body .btn-close {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

label {
  font-family: var(--font-default);
  font-size: 1.0625rem;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0.6875rem;
}
input {
  padding: 0.5rem;
  border: 0.8px solid #ccc;
  outline: none;
}
.text-control {
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  height: 3rem;
}
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.8rem;
  color: #e54858;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible='true']::after {
  opacity: 1;
}
.formData[data-error-visible='true'] .text-control {
  border: 0.125rem solid #e54858;
}
input[data-error]::after {
  content: attr(data-error);
  font-size: 0.4rem;
  color: red;
}
.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 2.25rem;
  font-size: 0.75rem;
  font-weight: normal;
}
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.125rem solid #279e7a;
  border-radius: 50%;
  text-indent: 1.8125rem;
  white-space: nowrap;
  position: absolute;
  left: -1.875rem;
  top: -1px;
  transition: 0.3s;
}
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: '';
  width: 0.8125rem;
  height: 0.8125rem;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 1.8125rem;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
.checkbox-input {
  display: none;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}
.checkbox2-label .checkbox-icon {
  border-radius: 0.25rem;
  border: 0;
  background: #c4c4c4;
}
.checkbox2-label .checkbox-icon::after {
  width: 0.5rem;
  height: 0.25rem;
  border-radius: 0.125rem;
  background: transparent;
  border: 0.125rem solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}
.close {
  position: absolute;
  right: 0.9375rem;
  top: 0.9375rem;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close:before,
.close:after {
  position: absolute;
  left: 0.9375rem;
  content: ' ';
  height: 2.0625rem;
  width: 0.25rem;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.btn-submit,
.btn-signup,
.btn-close {
  background: #fe142f;
  display: block;
  margin: 0 auto;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.75rem 5.125rem;
  color: #fff;
  cursor: pointer;
  border: 0;
}
/* custom select styles */
.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: normal;
}

.custom-select select {
  display: none;
}
.select-selected {
  background-color: #fff;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: '';
  top: 0.625rem;
  right: 0.8125rem;
  width: 0.6875rem;
  height: 0.6875rem;
  border: 0.1875rem solid transparent;
  border-bottom-color: #f00;
  border-left-color: #f00;
  transform: rotate(-48deg);
  border-radius: 0.3125rem 0 0.3125rem 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(135deg);
  top: 0.8125rem;
}

.select-items div,
.select-selected {
  color: #000;
  padding: 0.6875rem 1rem;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 0.5rem;
  height: 3rem;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* custom select end */
.text-label {
  font-weight: normal;
  font-size: 1rem;
}
.hero-section {
  min-height: 93vh;
  border-radius: 0.625rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-shadow: 0 0.125rem 0.4375rem 0.125rem rgba(0, 0, 0, 0.2);
  margin-bottom: 0.625rem;
}
.hero-content {
  padding: 3.1875rem 4.1875rem;
  grid-column: span 4;
  background: #232323;
  color: #fff;
  position: relative;
  text-align: left;
  min-width: 26.5rem;
}
.hero-content::after {
  content: '';
  width: 100%;
  height: 100%;
  background: #232323;
  position: absolute;
  right: -5rem;
  top: 0;
}
.hero-content > * {
  position: relative;
  z-index: 1;
}
.hero-headline {
  font-size: 6rem;
  font-weight: normal;
  white-space: nowrap;
}
.hero-text {
  width: 146%;
  font-weight: normal;
  margin-top: 3.5625rem;
  padding: 0;
}
.btn-signup {
  outline: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 0.9375rem 1.4375rem;
  margin: 0;
  margin-top: 3.6875rem;
}
.hero-img {
  grid-column: span 8;
}
.hero-img img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  object-fit: cover;
}
.copyrights {
  color: #fe142f;
  padding: 0;
  font-size: 1rem;
  margin: 3.75rem 0 1.875rem;
  font-weight: bolder;
}
.hero-section > .btn-signup {
  display: none;
}
footer {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 1.25rem;
}
@media screen and (max-width: 961px) {
  .hero-section {
    display: block;
    box-shadow: unset;
    min-height: 0;
  }
  .hero-content {
    background: #fff;
    color: #000;
    padding: 1.25rem;
  }
  .hero-content::after {
    content: unset;
  }
  .hero-content .btn-signup {
    display: none;
  }
  .hero-headline {
    font-size: 4.5rem;
    white-space: normal;
  }
  .hero-text {
    width: unset;
    font-size: 1.5rem;
  }
  .hero-img img {
    border-radius: 0.625rem;
    margin-top: 2.5rem;
  }
  .hero-section > .btn-signup {
    display: block;
    margin: 2rem auto 0.625rem;
    padding: 0.75rem 2.1875rem;
  }
  .copyrights {
    margin-top: 3.125rem;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 62.5%;
  }
  .main-navbar {
    margin-top: 9.375rem;
  }
  .topnav {
    min-height: 8vh;
    margin: 3.5% 3.5% 0 3.5%;
  }
  .topnav a.icon,
  .topnav.responsive a.icon {
    top: 1.875rem;
  }
  .modal-body .valid-message {
    height: 505.734px;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-9.375rem);
  }
  to {
    opacity: 1;
  }
}
